.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    padding-top: 50px;
}

h2 {
    font-weight: 600;
}

.form-group {
    margin-bottom: 30px;
}

label {
    font-weight: bold;
}

.btn-submit {
    width: 100%;
    margin-bottom: 20px;
}